# Ignore environment variable definitions
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Data files
*.csv
*.log
*.txt

# IDE directories
.vscode/
.idea/

# Ignorar archivos de configuración de Python
!requirements.txt

.devdbrc
.cache_ggshield
db_postgres.sql