# Archivos y directorios específicos del proyecto
.env
*.csv
*.pyc
__pycache__/

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Archivos generados por IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de distribución
dist/
build/
*.egg-info/

# Archivos de logs
*.log