black
certifi
charset-normalizer
click
colorama
dotenv
idna
mypy-extensions
mysql-connector-python
numpy
packaging
pandas
pathspec
platformdirs
psycopg2-binary
python-dateutil
python-dotenv
pytz
requests
six
tzdata
urllib3
pytest
pytest-cov
